opencv_python_headless
boto3
pdf2image==1.16.0
loguru
pandas
starlette
easyocr==1.4.1
numpy
scipy
torch_snippets
pydantic
lxml
fastapi
Pillow
sip==6.1.1
aiofiles==0.7.0
uvicorn
python-multipart
celery[mongodb]
PyQt5
